<div class="global-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Registro</h3>
		<div class="card-text">
			<form>
				<div class="form-group">
					<%= f.label :firstname, "Primer Nombre" %>
          <%= f.text_field :firstname, autofocus: true, class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
					<%= f.label :lastname, "Ultimo Nombre" %>
          <%= f.text_field :lastname, autofocus: true, class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
					<%= f.label :state, "Estado" %>
          <%= f.text_field :state, autofocus: true, class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
					<%= f.label :city, "Cuidad" %>
          <%= f.text_field :city, autofocus: true, class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
					<%= f.label :municipality, "Municipio" %>
          <%= f.text_field :municipality, autofocus: true, class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
					<%= f.label :age, "Edad" %>
          <%= f.number_field :age, autofocus: true, class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
					<%= f.label :email, "Correo" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
				</div>
				<div class="form-group">
          <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
            <em>(Minimo <%= @minimum_password_length %> caracteres)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm" %>
				</div>
        <div class="form-group">
					<%= f.label :password_confirmation, "Confirmar contraseña" %>
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control form-control-sm" %>
				</div>
        <%= f.submit "Iniciar Sesion", class: "btn btn-login btn-block" %>
				<div class="sign-up">
          ¿Ya tienes cuenta? <%= link_to "Inicia Sesion", new_session_path(resource_name) %>
				</div>
		  </form>
		</div>
	 </div>
  </div>
<% end %>
</div>
