<br>
<h1 class="text-center font_size"><%=@pet.name%> </h1>
<div class="container jumbotron", style="padding-top: 32px; margin-top: 50px;">
    <div class="row">
        <div class="col-sm">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel" style= "width: 500px; margin: 0 auto">
                <ol class="carousel-indicators">
                    <% @pet.images.each_with_index do |photo, n| %>
                        <li data-target="#carouselIndicators" data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                    <% end %>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag(@pet.images.first.image_url, size: "500x500") %>
                    </div>
                        <% @pet.images.drop(1).each do |photo| %>
                    <div class="carousel-item">
                        <%= image_tag(photo.image_url, size: "500x500") %>
                    </div>
                    <% end %>
                    <a class="carousel-control-prev" role="button" href="#carouselIndicators" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" role="button" href="#carouselIndicators" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h2>Datos de la mascota</h2>
            <br>
            <h4>Edad: <span class="pets_span"><%= @pet.age %></span> </h4>
            <h4>Descripción: <span class="pets_span"><%= @pet.description %></span> </h4>
            <h4>Tipo de animal: <span class="pets_span"><%= animal_type_spanish(@pet.animal_type) %></span></h4>
            <h4>Raza: <span class="pets_span"><%= @pet.breed %></span></h4>
            <br>
            <h2>Datos del dueño</h2>
            <br>
            <h4>Nombre: <span class="pets_span"><%= @userOwner.firstname %> <%= @userOwner.lastname %></span></h4>
            <h4>Email: <span class="pets_span"><%= @userOwner.email %></span></h4>
            <h4>Estado: <span class="pets_span"><%= @userOwner.state %></span></h4>
            <h4>Cuidad: <span class="pets_span"><%= @userOwner.city %></span></h4>
            <h4>Municipio: <span class="pets_span"><%= @userOwner.municipality %></span></h4>
        </div>
    </div>
    <div class="row">
      <div class="btn-group">
        <% if user_signed_in? %>
          <% if UserPet.find_by(pet: @pet, user: current_user, status: 0) %>
            <button type="button" class="btn btn-primary" disabled>En espera de adopcion</button>
          <% elsif UserPet.find_by(pet: @pet, status: 2) %>
            <%= link_to "Adoptar", pending_adopt_user_pet_path(@pet), method: :post, class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
