<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-10 col-lg-6">
        <h1 class="display-5">¡Adopta a tu Mascota!</h1>
        <p class="lead">El mejor sitio para adoptar a tu mascota preferida</p>
        <p class="lead">
          <% if user_signed_in? %>
            <%= link_to "Empezar a Adoptar", pets_path, class: "btn orange-btn btn-lg", role: "button" %>
          <% else %>
            <%= link_to "Empezar a Adoptar", new_user_registration_path, class: "btn orange-btn btn-lg", role: "button" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container marketing">
  <h1 class="featurette-heading"><span class="text-muted">3</span> Cosas que deberias saber sobre adopción de mascotas</h1>
</div>
<br>
<br>
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Consejos para la primera semana con tu mascota recién adoptado</h2>
      <p class="lead">Al igual que nosotros, las mascotas necesitan orden y liderazgo. Buscan el orden, que usted debe proporcionar. Su mascota necesita saber que usted está a cargo y que tiene un conjunto de reglas para cumplir. Esto hace que la transición del refugio a su hogar sea más fácil, más rápida y más gratificante. Una idea para ayudar a establecer el orden es celebrar una reunión familiar para crear reglas sobre el cuidado de la mascota. Compre sus artículos esenciales para el cuidado de la mascota, como etiquetas de identificación, un collar, recipientes para comida y agua, comida, juguetes y ​​herramientas básicas de aseo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("img1.jpeg", :alt => "rss feed", :style => "width: 400px; height: 500px;") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">La adopción de mascotas construirá lecciones de vida para niños de todas las edades</h2>
      <p class="lead">La adopción de la mascota ofrece una oportunidad fértil para enseñar valores significativos a los niños. La decisión de dedicar sus recursos y cuidados a una mascota necesitado envía un mensaje muy claro sobre la identidad de una familia y sus valores subyacentes. Es un buen momento para explorar quiénes son como familia y qué representan. Es a través de este proceso que un niño aprende cosas como: "Somos una familia con una decisión importante que hacer, y vamos a utilizar el poder de esta opción para salvar una vida". Esto les enseña a los niños sobre la responsabilidad personal y su impacto en el bien mayor a medida que toman decisiones en la vida. Los niños necesitan sentir que pueden impactar su mundo. Necesitamos darles oportunidades para hacerlo de manera positiva y social. Elegir la adopción de la mascota puede plantar las semillas para esa ética.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag("img2.jpeg", :alt => "rss feed", :style => "width: 450px; height: 500px;") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cómo preparar su presupuesto para la adopción de una mascota</h2>
      <p class="lead">Ser un buen dueño de mascotas cariñosos implica muchas cosas que no afectan su billetera, como su tiempo y amor, pero sin duda hay costos para planificar. Si nunca ha tenido un tipo particular de mascota antes, saber cuánto costará su nueva mascota puede ser complicado.El mayor costo será la comida, que depende del tamaño y el tipo de mascota que vayas a adoptar. Otros costos son en su mayoría médicos e incluirán chequeos veterinarios regulares, y la posibilidad de un viaje al chaleco debido a un accidente o enfermedad.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("img3.jpeg", :alt => "rss feed", :style => "width: 600px; height: 500px;") %>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
