<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container container-fluid">
    <%= link_to root_path, class: "navbar-brand font-weight-bold" do %>
      <%= fa_icon "paw" %> PetMatch
    <% end %>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Explorar", pets_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "favorite", favorites_user_pets_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="navbar-text pull-right">
      <% if !user_signed_in? %>
        <%= link_to "Iniciar Sesion", new_user_session_path, class: "navbar-link" %> |
        <%= link_to "Registrarse", new_user_registration_path, class: "navbar-link" %>
      <% else %>
        <!--TODO: CHANGE PATH USER EMAIL TO PROFILE VIEW AND SHOW NAME-->
        <%= link_to current_user.email, root_path, class: "navbar-link" %> |
        <%= link_to "Cerrar Sesion", destroy_user_session_path, class: "navbar-link", method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
